/* ROOT */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* ROOT-END */

/* FONTS */
@font-face {
    font-family: "Trocchi";
    src: url("/assets/fonts/Trocchi-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* FONTS-END */

/* MAIN-SITE-STYLES */
.site-wrapper {
    background-color: #f6f3f1;
}

.page--wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #f6f3f1;
}

.header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    color: #292933;
}


.header--text {
    font-family: 'Trocchi', sans-serif;

}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fff;
}

.navigation--item a {
    color: #292933;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

.navigation--item:hover a {
    border: 0px solid gray;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    background-color: #d0d0d6;
    padding: 5px 10px 5px 10px;
}

.wrap {
    display: flex;
    width: 100%;
}

.wrap-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-transform: uppercase;
}

.item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
    height: 300px;
    padding: 10px 5px;
    margin: 5px;
    transition: 0.3s;
    border-radius: 20px;
}

.item:hover {
    background-color: #fff;
    transition: 0.3s;
}

.item--image {
    width: 200px;
}

.item--name {
    font-weight: 200;
    font-size: 14px;
    text-transform: capitalize;
}

.item--price {
    font-size: 15px;
}

.item--order__btn {
    padding: 5px;
    border-radius: 20px;
    background-color: #292933;
    color: white;
    font-size: 15px;
    transition: 0.5s;

}

.item--order__btn:hover {
    background-color: #383846;
    transition: 0.5s;
    color: whitesmoke;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}

.footer--copyright {
    font-size: 10px;
}

.footer--list {
    display: flex;
    list-style-type: none;
}

.footer--list__item {
    margin: 10px;
}


.footer--developed {
    font-size: 10px;
}

/* MAIN-SITE-STYLES-END */
/* MODAL */
.modalBtn {
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: #383846;
    padding: 5px;
    border-radius: 20px;
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #2165d5;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 700px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-wrapper label {
    margin: 10px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;

}

.form--submit {
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: #383846;
    padding: 5px;
    border-radius: 20px;
}

.form--title {
    font-size: 18px;
    color: #ffffff;
}

.form--input {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
}