/* ROOT */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* ROOT-END */

/* FONTS */
@font-face {
    font-family: "Trocchi";
    src: url("/assets/fonts/Trocchi-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* FONTS-END */

/* MAIN-SITE-STYLES */
.site-wrapper {
    background-color: #f6f3f1;
}

.page--wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #f6f3f1;
}

.header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    color: #292933;
}

.header--telephone {
    color: #292933;
    text-decoration: none;
    font-size: 20px;
    border: 0px solid white;
    padding: 5px;
    transition: 0.5s;
}

.header--text {
    font-family: 'Trocchi', sans-serif;
    margin-left: 150px;

}

.header--telephone:hover {
    border: 0px solid gray;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    background-color: #d0d0d6;
    padding: 5px;
    border-radius: 20px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fff;
}

.navigation--item a {
    color: #292933;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

.navigation--item:hover a {
    border: 0px solid gray;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    background-color: #d0d0d6;
    padding: 5px 10px 5px 10px;
}

.wrap {
    display: flex;
    width: 100%;
}

.wrap-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-transform: uppercase;
}

.item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
    height: 300px;
    padding: 10px 5px;
    margin: 5px;
    transition: 0.3s;
    border-radius: 20px;
}

.item:hover {
    background-color: #fff;
    transition: 0.3s;
}

.item--name {
    font-weight: 200;
    font-size: 14px;
    text-transform: capitalize;
}

.item--price {
    font-size: 15px;
}

.item--order__btn {
    padding: 5px;
    border-radius: 20px;
    background-color: #292933;
    color: white;
    font-size: 15px;
    transition: 0.5s;

}

.item--order__btn:hover {
    background-color: #383846;
    transition: 0.5s;
    color: whitesmoke;
}

/* MAIN-SITE-STYLES-END */